
.notfound{
    display:flex;
    padding: 30px;
    gap: 20px;
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

h2{
    color: blue;
}
p{
    color: red;
}